/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */








/* main {
  height: 3730px;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  padding-top: 1em;
}

h1 span {
  background-color: #DBC2A4;
  padding: 0.2em;
  border-radius: 10px;
}

.first-h2 {
  padding-top: 1.8em;
}

h2 {
  text-align: center;
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 2em;
}

h2 span {
  background-color: #DBC2A4;
  padding: 0.2em;
  border-radius: 10px;
}

p {
  color: white;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: 'salsa';
  line-height: 2em;
  margin-top: 0;
  font-size: 1.5em;
}

.presentation {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-family: 'salsa';
  line-height: 2em;
  margin-bottom: 0;
  border-bottom: solid 3px #DBC2A4;
}

.presentation span {
  border-top: solid 1px #DBC2A4;
  color: #DBC2A4;
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
}


.div-creation {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
}


.img-flou {
  width: 20em;
  filter: blur(5px);
}

.open-modal {
  margin-top: 2em;
  font-size: 1.5em;
  border-radius: 30px;
  color: white;
  background-color: #DBC2A4;
  padding: 0.4em;
  font-family: 'salsa';
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; 
  display: none; 
  background-color: gray;
  width: 50%;
  height: 70%;
  border-radius: 50px;
} 

.modal-content p {
  font-size: 1em;
}

.img-modal {
  margin-left: 1em;
  width: 13em;
  border-radius: 10px;
}

.close-modal {
  margin-top: 2em;
  font-size: 1.5em;
  border-radius: 30px;
  color: white;
  background-color: #DBC2A4;
  padding: 0.4em;
  font-family: 'salsa';
}

/* .last-h2 {
  border-top: solid 3px #DBC2A4;
  padding-top: 2.5em;
} */

/* .div-form {
  border-top: solid 3px #DBC2A4;
  padding-top: 3em;
}

form {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
display: block;
margin-bottom: 8px;
color: #DBC2A4;
font-family: 'salsa';
width: 20%;
}

input,
textarea {
width: 20%;
padding: 8px;
margin-bottom: 16px;
box-sizing: border-box;
}

button {
  background-color: #DBC2A4;
color: white;
padding: 10px 15px;
border: none;
border-radius: 20px;
cursor: pointer;
font-family: 'salsa';
font-size: 1em;
}

.div-top-of-page {
  padding-bottom: 2em;
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0; 
  right: 2em;
}

.top-of-page {
  width: 5em;
  border-radius: 50%;
}  */
